@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{font-family: 'Open Sans', sans-serif;font-size: 16px;color: #232222;margin: 0}
*{box-sizing: border-box}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
  float: left;
  padding: 15px;
  }
.row::after {
  content: "";
  clear: both;
  display: table;
}
.container{width: 80%;margin: 0 auto
}
.d-flex{display: flex}
.justifycontent-center{justify-content: center}
.justifycontent-between{justify-content: space-between}
.justifycontent-around{justify-content: space-around}
.align-item-center{align-items: center}
header{
	width: 100%;height: 70px;background-color: #dfd1ce;border-bottom: 1px solid #C49B9B
}
.menu ul{margin:0;padding: 0;list-style: none;display: flex}
.menu{
	padding-top: 19px
}
.menu ul li a{
	padding: 10px 20px;text-decoration: none;color: #424242;border-radius: 20px
}
.menu ul li a:hover{
background-color: darkred;color: aliceblue	
}
.img100{width: 100%;height: auto}
main{width: 100%;min-height: 600px}
aside{width: 30%;padding: 15px;min-height: 500px}
.content{
	width: 70%;padding: 15px;min-height: 500px
}
.text-do{text-decoration: none;color: red;font-weight: bold}
.text-den{text-decoration: none;color: black;font-weight: bold}
.text-den:hover{color: red}
#slider .owl-nav { position:absolute; left:0px; top:40%; width:100%; }
#slider .owl-nav [class*='owl-'] {
	font-size:60px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #fff
}

#slider .owl-nav .owl-next{ position:absolute; right:5%;}
#slider .owl-nav .owl-prev{ position:absolute; left:5%;}
#slider .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:yellow;
      text-decoration: none; }
#slider .owl-dots{ position:absolute; bottom: 10px; left:45%;}
#slider .owl-dots .owl-dot span {
      width: 12px;
      height: 12px; 	
}


.sanpham{text-decoration: none;color: #434343}
.sanpham:hover{color: antiquewhite}
aside ul{padding: 0;margin: 0;list-style: none;display: flex;flex-direction: column}
aside ul li{border-bottom: 1px solid darkred}
aside ul li a{padding: 10px;display: block;text-decoration: none;color: #666666}
aside ul li a:hover{background-color: darkred}
.noidung{text-align: center}
.noidung a{text-decoration: none;color: #666666;font-size: 17px;font-weight: bold}
.noidung a:hover{color:darkred}

.product{text-decoration: none;color: #434343;padding-top:0;margin-top: 0}
.product:hover{color: red}




.guarantee{padding: 30px 50px 0 50px}
.icon{width: 50px;height:50px; margin: 15px}
footer{background-color: darkgrey}
footer a{text-decoration: none;color: #666666}
footer a:hover{color:darkred}
.bg-xanh{background-color: aqua;text-align: center}
.bg-xanh ul{list-style: none;padding: 0;margin: 0;display: flex;flex-direction: column}
.bg-xanh ul li a{padding: 10px;display: block}
